body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #163152;
    background-color: #FDFDFF;
    margin: 0;
    padding: 0;
}

.nav-item a {
    font-size: 14px;
    line-height: 18px;
    color: #163152;
    text-transform: uppercase;
    text-decoration: none;
}

.lead h1 {
    font-size: 44px;
    font-weight: normal;
    line-height: 60px;
    font-style: italic;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
}


.join-club h2 {
    font-size: 24px;
    line-height: 34px;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #00c6bd;
    text-decoration-thickness: 2px;
    text-underline-offset: 15px;
    text-underline-position: under;
}

.join-club .Date {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.excursion h2 {
    font-size: 24px;
    line-height: 34px;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #00c6bd;
    text-decoration-thickness: 2px;
    text-underline-offset: 15px;
    text-underline-position: under;
}

.excursion .Date {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.сontacts {
    font-size: 16px;
    line-height: 22px;
}

.сontacts h2 {
    font-size: 24px;
    line-height: 34px;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #00c6bd;
    text-decoration-thickness: 2px;
    text-underline-offset: 15px;
    text-underline-position: under;
}

.сontacts h3 {
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
}

.contacts-item a {
    color: #163152;
    text-decoration: none;
}

.contacts-item address {
font-style: normal;
}

.footer-list {
    font-size: 14px;
    line-height: 16px;
}

.footer-list h2 {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: bold;
}


.footer-list a {
    color: #163152;
    text-decoration: none;
}

.copyright {
    font-size: 10px;
    line-height: 12px;
}

.main-footer a {
    color: #163152;
    text-decoration: none;
}

.news {
    font-size: 18px;
    line-height: 26px;
}

.news h2 {
    font-size: 24px;
    line-height: 34px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #00c6bd;
    text-decoration-thickness: 2px;
    text-underline-offset: 15px;
    text-underline-position: under;
}

.news h3 {
    font-size: 22px;
    line-height: 26px;
    text-decoration: none;
    text-align: left;
}

.news h4 {
    font-size: 20px;
    font-weight: bold;
}

.winner figcaption {
    font-size: 16px;
    line-height: 19px;
    color: #8693A4;
}

.winners-quote {
    font-size: 26px;
    line-height: 36px;
    font-weight: bold;
}


.post-meta a {
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
    text-decoration: none;
    color: #163152;
}

.post-meta time {
    font-size: 16px;
    line-height: 19px;
    font-weight: normal;
    color: #8693A4;
}

.main-header {
    width: 1170px;
    margin: 0 auto;
    padding: 20px 55px;
    margin-bottom: 40px;
}

.header_div {
    display: flex;
}

.main-logo {
    margin-right: auto;
}

.nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-navigation {
    width: 559px;
}

.login {
    margin-left: 40px;
    width: 36px;
}

main {
    width: 1170px;
    padding: 0 55px;
    margin: 0 auto;
}

.lead {
    margin: 0 auto;
    margin-bottom: 120px;
}

.join-club {
    display: flex;
    width: 1030px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.join-club-container {
    margin-right: 30px;
}

.join-club-container h2 {
    margin: 0;
    padding: 0;
    margin-bottom: 35px;
}

.date {
    margin-bottom: 10px;
}

.excursion {
    display: flex;
    width: 1030px;
    margin: 0 auto;
    flex-direction: row-reverse;
    margin-bottom: 120px;
}

.excursion-container {
    margin-left: 30px;
}

.excursion-container h2 {
    margin: 0;
    padding: 0;
    margin-bottom: 35px;
}

.news {
    width: 770px;
    margin: 0 auto;
    margin-bottom: 120px;
}

.winner {
    margin: 0;
    padding: 0;
}

.news h2 {
    margin: 0;
    padding: 0;
    margin-bottom: 55px;
}

.сontacts {
    display: flex;
    width: 1170px;
    margin: 0 auto;
    flex-direction: row-reverse;
}

.map {
    margin-right: 100px;
}

.contacts-container h2 {
    margin: 0;
    padding: 0;
    margin-bottom: 35px;
}

.contacts-container {
    width: 400px;
}

.main-footer {
    margin: 0 auto;
    margin-top: 120px;
    padding: 60px 0;
}

.main-footer-container {
    width: 1170px;
    display: flex;
    margin: 0 auto;
    padding: 0 55px;
}

.copyright-container {
    margin-right: 125px;
}

.footer-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-navigation-topics {
    width: 165px;
    margin-right: 70px;
}
.footer-navigation-topics:last-child {
    margin-right: 0;
}

.list-element {
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer-item h2 {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.gallery h2 {
    margin: 0;
    padding: 0;
    margin-bottom: 55px;
    text-align: center;
    font-size: 24px;
    line-height: 34px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #00c6bd;
    text-decoration-thickness: 2px;
    text-underline-offset: 15px;
    text-underline-position: under;
}

.gallery {
    margin: 0 auto;
    margin-bottom: 120px;
}

.photo-gallery {
    display: flex;
}

.select-photo {
    margin-right: 30px;
}


.list-photo {
    margin-bottom: 30px;
}

.list-photo:last-child {
    margin-bottom: 0;
}